.contacts {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 30px;
    align-items: stretch;
}

.blackK {
    color: black;
}

.block {
    padding: 80px 50px;
}

.row {
    display: flex;
    gap: 40px;         
}

.contacts-left {
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: center;
}


.contacts-right {
    margin-top: 50px;
    margin-right: 20px;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    margin-left: auto;
}

.contacts-right iframe {
    width: 100%;
    height: 100%;
    min-height: 360px;
    border: 0;
}
