@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;

}

img {
    max-width: 100%;
}

.wrapper {
    background: 878787;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo {
    width: 80px;
    height: 70px;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #000000;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #FD6F00;
    border-radius: 10px;
}

header nav ul li:not(.active):not(.btn) a {
    position: relative;
}

header nav ul li:not(.active):not(.btn) a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 5px;
    background: #FD6F00;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 250ms ease;
}

header nav ul li:not(.active):not(.btn) a:hover::after {
    transform: scaleX(1)
}

header nav ul li.btn a {
    background: #FD6F00;
    padding: 9px 17px;
    border-radius: 5px;
    color: aliceblue;
    transition: all 500ms ease;

}

header nav ul li.btn a:hover {
    background: #c55703;
}

.hero.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
}


.hero--info {
    width: 650px;
    padding-top: 70px;
}

.hero--info h2 {
    font-size: 32px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 80px;
    font-weight: 700;
}

.hero--info h3 {
    font-size: 24px;
    font-weight: 600;
}

#h2nomer2 {
    color: #FD6F00;
    font-size: 32px;
    font-weight: 600;
}

.hero-title {
    font-size: 100px;
    font-weight: 700;
    line-height: 1.1;
}

.hero-title span {
    display: block;
    margin-left: 170px;
}

.hero--info p {
    font-weight: 400;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    background: #FD6F00;
    color: aliceblue;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transform: all 500ms ease;
    font-size: 18px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.main {
    max-width: 600px;
}

#social {
    position: absolute;
    bottom: 0;
    right: 200px;
}



#left {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
}



.main2 {
    max-width: 600px;
}

.skill {
    width: 100%;
    max-width: 600px;
}

/* what i do  */

.do {
    padding-top: 50px;

}

.do .worke {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0px;
    gap: 30px;
}

.bloke {
    background: #edecec;
    border-radius: 12px;
    padding: 20px;
}

.project-otstup {
    padding: 50px 0px;
}

.center {
    text-align: center;
}

.semiBold {
    font-weight: 600;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.fs-65 {
    font-size: 65px;
}

.fs-32 {
    font-size: 32px;
}

.fs-24 {
   font-size: 24px; 
}

.fs-21 {
    font-size: 21px;
}

.fs-19 {
    font-size: 19px;
}

.silka {
    
    display: block;
    margin-left: auto;

    background: #FD6F00;
    color: aliceblue;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transform: all 500ms ease;
    font-size: 18px;
}

.silka:hover {
    cursor: pointer;
    transform: scale(1.1);
}