@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;

}

img {
    max-width: 100%;
}

.wrapper {
    background: 878787;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo {
    width: 90px;
    height: 67px;

}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #000000;
}

header nav ul li:not(.active):not(.btn) a:hover {
  border-bottom: 5px solid #FD6F00;
}