@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
   
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;

}

/* popup  */

.modal {
 background-color: rgba(0 , 0, 0, 0.3);
 opacity: 0;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 transition: all 0.3s ease-in-out;
 z-index: -1;

 display: flex;
 align-items: center;
 justify-content: center;
}

.otstupSnizu {
    margin-bottom: 30px;
}

.otstupSnizu2 {
    margin-bottom: 20px;
}

.otstupRite {
    margin-right: 10px;
}

.modal.open {
    opacity: 1;
    z-index: 999;
}

.flexPopup {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.flexPopupLi {
    display: inline-block;
}

.modal-inner {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.buttonPopup {
     background: #FD6F00;
    padding: 9px 17px;
    border-radius: 20px;
    color: aliceblue;
    transition: all 500ms ease;
}

/* popup */


img {
    max-width: 100%;
}

.wrapper {
    background: #ffffff;
    
}

.otstupSverhu {
padding-top: 90px;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.hederContainer {
    height: 56px;
    width: 100%;
    margin: 0 auto;
}

header {
   background: #ffffff;
  position: fixed;
  z-index: 1;
}



.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 4px;
    background: #FD6F00;
    transition: width .2s;
    border-radius: 10px;
}

.nav-link.active::after {
    width: 100%;
}








header .logo
{
    width: 50px;
    height: 45px;
}

header img {
    padding-top: 5px;
    padding-left: 50px;
}

header nav {
    padding-top: 16px;
    padding-right: 30px;
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #000000;
}

/* header nav ul li.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #FD6F00;
    border-radius: 10px;
}

header nav ul li:not(.active):not(.btn) a {
    position: relative;
}

header nav ul li:not(.active):not(.btn) a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 5px;
    background: #FD6F00;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 250ms ease;
}

header nav ul li:not(.active):not(.btn) a:hover::after {
    transform: scaleX(1)
} */

.btn a {
    background: #FD6F00;
    padding: 9px 17px;
    border-radius: 5px;
    color: aliceblue;
    transition: all 500ms ease;

}

.btn a:hover {
    background: #e86f00;
}



.hero.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
}


.hero--info {
    width: 650px;
    padding-top: 70px;
}

.hero--info h2 {
    font-size: 32px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 80px;
    font-weight: 700;
}

.hero--info h3 {
    font-size: 24px;
    font-weight: 600;
}

#h2nomer2 {
    color: #FD6F00;
    font-size: 32px;
    font-weight: 600;
}

.hero-title {
    font-size: 100px;
    font-weight: 700;
    line-height: 1.1;
}

.hero-title span {
    display: block;
    margin-left: 170px;
}

.hero--info p {
    font-weight: 400;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    background: #FD6F00;
    color: aliceblue;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
   transition: transform 400ms ease;
    font-size: 18px;
}


.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.main {
    max-width: 600px;
}

#social {
    position: absolute;
    bottom: 0;
    right: 200px;
}

#avatar2 {
    padding-top: 100px;
}

#left {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
}



.main2 {
    max-width: 600px;
}

.skill {
    width: 100%;
    max-width: 600px;
}

/* what i do  */

.do {
    padding-top: 50px;

}

.do .worke {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0px;
    gap: 30px;
}

.bloke {
    background: #edecec;
    border-radius: 12px;
    padding: 20px;
}

.project-otstup {
    padding: 50px 0px;
}

.center {
    text-align: center;
}

.semiBold {
    font-weight: 600;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.fs-65 {
    font-size: 65px;
}

.fs-32 {
    font-size: 32px;
}

.fs-24 {
   font-size: 24px; 
}

.fs-21 {
    font-size: 21px;
}

.fs-19 {
    font-size: 19px;
}

.silka {
    
    display: inline-block;
    margin-left: auto;

    background: #FD6F00;
    color: aliceblue;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: transform 400ms ease;
    font-size: 18px;
}

.silka:hover {
    cursor: pointer;
    transform: scale(1.1);
}



/* часть с пустыней  */

.features {
    background: url('/img/pustiny.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

.features h3, 
.features p {
margin-bottom: 20px;
text-align: center;
max-width: 800px;
margin-left: auto;
margin-right: auto;
 color: #fff;
}



.cta-form {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  padding-bottom: 40px;
  
}

.cta-form input {
  width: 500px;
  max-width: 100%;
  padding: 14px 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
 
}

.cta-form input:focus {
  border-color: #FD6F00;
}

.cta-form button {
  padding: 18px 36px;
  border-radius: 10px;
  border: none;
  background: #FD6F00;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 500ms ease;
}

.cta-form button:hover {
  background: #e86f00;
}


/* Footer */

footer {
    background: #F8F8F8;
    
}

footer .blocks {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 500px;
    margin: 25px 0;
}

footer .blocks ul {
    list-style: none;
    margin: 25px 0;
}

footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.8;
}

footer .logo
{
    width: 60px;
    height: 55px;
}

footer .black {
    padding: 20px 0;
    text-align: center;
    background: #545454;
    color: #ddd;
}

.oreng {
    color: #e86f00;
}

.basementLink {
    color: #000000;
}

.basementLink:hover {
    color: #FD6F00;
}